/*  MICROTHEMER STYLES  */


/*= General =================== */

/** General >> Colophon site above footer inner wrap **/
#colophon .site-above-footer-inner-wrap {
	display: grid !important;
	grid-template-columns: 27% 16% 26% 18% !important;
}
#colophon .site-above-footer-inner-wrap > :nth-child(3) {
	grid-area: 1 / 3 / 2 / 4 !important;
}

/** General >> Footer menu text menu link **/
.footer-menu-text .menu-link {
	color: rgb(255, 255, 255) !important;
	font-weight: 200 !important;
}

/** General >> Section (#1) has ast global color 4 color **/
aside > section:nth-of-type(1) > .has-ast-global-color-4-color {
	font-weight: 600 !important;
	margin-bottom: 20px !important;
}

/** General >> Colophon site primary footer wrap **/
#colophon .site-primary-footer-wrap {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	border-top-width: 0 !important;
}

/** General >> Colophon ast builder grid row tablet 4 equal **/
#colophon .ast-builder-grid-row-tablet-4-equal {
	padding-bottom: 0 !important;
}

/** General >> Block 8 wp block image **/
#block-8 .wp-block-image {
	
}

/** General >> Block 10 **/
#block-10 {
	margin-bottom: 0 !important;
}

/** General >> Block 17 **/
#block-17 {
	margin-bottom: 0 !important;
}

/** General >> Block 8 **/
#block-8 {
	margin-bottom: 0 !important;
}

/** General >> Block 9 has ast global color 5 color **/
#block-9 .has-ast-global-color-5-color {
	margin-bottom: 0 !important;
}

/** General >> Block 11 has ast global color 6 color **/
#block-11 .has-ast-global-color-6-color {
	color: rgba(229, 229, 229, 0.47) !important;
	padding-top: 10px !important;
	margin-bottom: 0 !important;
	border-top: 1px solid rgba(255, 255, 255, 0.61) !important;
}

/** General >> Colophon site below footer wrap **/
#colophon .site-below-footer-wrap {
	background-color: rgb(58, 0, 91) !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

/** General >> Ast footer copyright paragraph **/
.ast-footer-copyright p {
	color: rgba(255, 255, 255, 0.61) !important;
	font-size: 13px !important;
	text-align: left !important;
}


/*( < 1200 )*/
@media (max-width: 1199.98px) {

	/*= General =================== */

	/** General >> Block 11 has ast global color 6 color **/
	#block-11 .has-ast-global-color-6-color {
	padding-right: 40px !important;
	padding-left: 40px !important;
}

	/** General >> Ast footer copyright paragraph **/
	.ast-footer-copyright p {
	padding-left: 40px !important;
}

	/** General >> Site footer above section 1 footer widget area inner **/
	.site-footer-above-section-1 .footer-widget-area-inner {
	padding-left: 40px !important;
}


}


/*( < 980 )*/
@media (max-width: 979.98px) {

	/*= General =================== */

	/** General >> Colophon site above footer inner wrap **/
	#colophon .site-above-footer-inner-wrap {
	display: grid !important;
	grid-template-columns: 50% !important;
}
#colophon .site-above-footer-inner-wrap > :nth-child(3) {
	grid-area: 2 / 1 / 3 / 2 !important;
}
#colophon .site-above-footer-inner-wrap > :nth-child(4) {
	grid-area: 2 / 2 / 3 / 3 !important;
}

	/** General >> Site footer above section 3 footer widget area inner **/
	.site-footer-above-section-3 .footer-widget-area-inner {
	padding-bottom: 40px !important;
	padding-left: 40px !important;
}


}


/*( < 768 )*/
@media (max-width: 767.98px) {

	/*= General =================== */

	/** General >> Block 11 has ast global color 6 color **/
	#block-11 .has-ast-global-color-6-color {
	padding-right: 0 !important;
	padding-left: 0 !important;
	margin-right: 40px !important;
	margin-left: 40px !important;
}

	/** General >> Ast hf mobile menu menu link **/
	#ast-hf-mobile-menu .menu-link {
	color: rgb(255, 255, 255) !important;
	font-size: 18px !important;
}

	/** General >> Ast mobile header ast menu svg **/
	#ast-mobile-header .ast-menu-svg {
	
}


}


/*( < 480 )*/
@media (max-width: 479.98px) {

	/*= General =================== */

	/** General >> Colophon site above footer inner wrap **/
	#colophon .site-above-footer-inner-wrap {
	display: grid !important;
	grid-template-columns: 100% !important;
}
#colophon .site-above-footer-inner-wrap > :nth-child(2) {
	grid-area: 2 / 1 / 3 / 2 !important;
}
#colophon .site-above-footer-inner-wrap > :nth-child(3) {
	grid-area: 3 / 1 / 4 / 2 !important;
}
#colophon .site-above-footer-inner-wrap > :nth-child(4) {
	grid-area: 4 / 1 / 5 / 2 !important;
}

	/** General >> Site footer above section 2 footer widget area inner **/
	.site-footer-above-section-2 .footer-widget-area-inner {
	padding-left: 40px !important;
	margin-left: 0 !important;
}

	/** General >> Colophon site footer above section 4 **/
	#colophon .site-footer-above-section-4 {
	margin-bottom: 40px !important;
}

	/** General >> Block 11 has ast global color 6 color **/
	#block-11 .has-ast-global-color-6-color {
	padding-right: 0 !important;
	padding-left: 0 !important;
	margin-right: 40px !important;
	margin-left: 40px !important;
}

	/** General >> Site footer above section 3 footer widget area inner **/
	.site-footer-above-section-3 .footer-widget-area-inner {
	padding-left: 0 !important;
}

	/** General >> Site footer above section 1 footer widget area inner **/
	.site-footer-above-section-1 .footer-widget-area-inner {
	padding-left: 0 !important;
}


}

