/*  MICROTHEMER STYLES  */


/*= General =================== */

/** General >> Colophon site above footer inner wrap **/
#colophon .site-above-footer-inner-wrap {
	display: grid !important;
	grid-template-columns: 27% 16% 26% 18% !important;
}
#colophon .site-above-footer-inner-wrap > :nth-child(3) {
	grid-area: 1 / 3 / 2 / 4 !important;
}

/** General >> Footer menu text menu link **/
.footer-menu-text .menu-link {
	color: rgb(255, 255, 255) !important;
	font-weight: 200 !important;
}

/** General >> Section (#1) has ast global color 4 color **/
aside > section:nth-of-type(1) > .has-ast-global-color-4-color {
	font-weight: 600 !important;
	margin-bottom: 20px !important;
}

/** General >> Colophon site primary footer wrap **/
#colophon .site-primary-footer-wrap {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	border-top-width: 0 !important;
}

/** General >> Colophon ast builder grid row tablet 4 equal **/
#colophon .ast-builder-grid-row-tablet-4-equal {
	padding-bottom: 0 !important;
}

/** General >> Block 10 **/
#block-10 {
	margin-bottom: 0 !important;
}

/** General >> Block 17 **/
#block-17 {
	margin-bottom: 0 !important;
}

/** General >> Block 8 **/
#block-8 {
	margin-bottom: 0 !important;
}

/** General >> Block 9 has ast global color 5 color **/
#block-9 .has-ast-global-color-5-color {
	margin-bottom: 0 !important;
}

/** General >> Block 11 has ast global color 6 color **/
#block-11 .has-ast-global-color-6-color {
	color: rgba(229, 229, 229, 0.47) !important;
	padding-top: 10px !important;
	margin-bottom: 0 !important;
	border-top: 1px solid rgba(255, 255, 255, 0.61) !important;
}

/** General >> Colophon site below footer wrap **/
#colophon .site-below-footer-wrap {
	background-color: rgb(58, 0, 91) !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

/** General >> Ast footer copyright paragraph **/
.ast-footer-copyright p {
	color: rgba(255, 255, 255, 0.61) !important;
	font-size: 13px !important;
	text-align: left !important;
}

/** General >> Content ast container **/
#content .ast-container {
	background-color: rgb(255, 255, 255) !important;
}

/** General >> Secondary heading 2 **/
#secondary h2 {
	margin-bottom: 5px !important;
}

/** General >> Secondary widget **/
#secondary .widget {
	padding-bottom: 20px !important;
	margin-bottom: 0 !important;
}

/** General >> Gcse 0 gsc control cse en **/
#___gcse_0 .gsc-control-cse-en {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	padding-left: 0 !important;
}

/** General >> Gs tti50 **/
#gs_tti50 {
	border: 1px solid rgb(220, 220, 220) !important;
	border-radius: 3px !important;
}

/** General >> Table row gsc input **/
tr > .gsc-input {
	padding-right: 0 !important;
}

/** General >> Gsc iw id1 **/
#gsc-iw-id1 {
	padding-top: 25px !important;
}

/** General >> Content uael team member content **/
#content .uael-team-member-content {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

/** General >> Content uael team social icon **/
#content .uael-team-social-icon {
	padding-left: 5px !important;
}

/** General >> Ast builder social element **/
.ast-builder-social-element {
	border-radius: 10px !important;
}

/** General >> Menu link **/
#menu-about .menu-link {
	color: rgb(255, 255, 255) !important;
	font-weight: normal !important;
}

/** General >> Button link **/
.wp-block-button__link {
	padding: 12px 20px 12px 20px !important;
	border-radius: 10px !important;
}

/** General >> Elementor element populated **/
.mtp-10 .elementor-element-8b3e7ba .elementor-element-populated {
	padding-top: 7px !important;
}

/** General >> Div _3 **/
.mtp-10 .elementor-element-b16017f > div {
	padding-bottom: 5px !important;
}

/** General >> Elementor widget heading (#1) **/
.mtp-10 .elementor-inner-section > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > .elementor-widget-heading:nth-of-type(1) {
	top: 1px !important;
}

/** General >> Elementor element 623d2c5 **/
.comments__summary {
	max-width: 1280px !important;
	margin-right: auto !important;
	margin-left: auto !important;
}

/** General >> Paragraph **/
.elementor-widget-text-editor p {
	margin-bottom: 0 !important;
}

/** General >> Ss inline share wrapper **/
.ss-inline-share-wrapper {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}


/*= Main Menu ================= */

/** Main Menu >> Elementor element 68efcbb **/
.elementor-element-68efcbb {
	margin-bottom: 0 !important;
}


/*= General 2 ================= */

/** General 2 >> Elementor element populated **/
.elementor-element-30c0128 .elementor-element-populated {
	padding: 0 !important;
}

/** General 2 >> Elementor widget theme post content **/
.elementor-widget-theme-post-content {
	margin-bottom: 0 !important;
}


/*( < 1200 )*/
@media (max-width: 1199.98px) {
	/** General >> Block 11 has ast global color 6 color **/
	#block-11 .has-ast-global-color-6-color {
	padding-right: 40px !important;
	padding-left: 40px !important;
}

	/** General >> Ast footer copyright paragraph **/
	.ast-footer-copyright p {
	padding-left: 40px !important;
}

	/** General >> Site footer above section 1 footer widget area inner **/
	.site-footer-above-section-1 .footer-widget-area-inner {
	padding-left: 40px !important;
}

}


/*( < 980 )*/
@media (max-width: 979.98px) {
	/** General >> Colophon site above footer inner wrap **/
	#colophon .site-above-footer-inner-wrap {
	display: grid !important;
	grid-template-columns: 50% !important;
}
#colophon .site-above-footer-inner-wrap > :nth-child(3) {
	grid-area: 2 / 1 / 3 / 2 !important;
}
#colophon .site-above-footer-inner-wrap > :nth-child(4) {
	grid-area: 2 / 2 / 3 / 3 !important;
}

	/** General >> Site footer above section 3 footer widget area inner **/
	.site-footer-above-section-3 .footer-widget-area-inner {
	padding-bottom: 40px !important;
	padding-left: 40px !important;
}

}


/*( < 768 )*/
@media (max-width: 767.98px) {
	/** General >> Block 11 has ast global color 6 color **/
	#block-11 .has-ast-global-color-6-color {
	padding-right: 0 !important;
	padding-left: 0 !important;
	margin-right: 40px !important;
	margin-left: 40px !important;
}

	/** General >> Ast hf mobile menu menu link **/
	#ast-hf-mobile-menu .menu-link {
	color: rgb(255, 255, 255) !important;
	font-size: 18px !important;
}

	/** General >> Elementor column gap default **/
	.elementor-element-352da86 .elementor-column-gap-default {
	display: grid !important;
	grid-template-columns: 1fr !important;
	grid-template-rows: auto auto auto auto !important;
}
.elementor-element-352da86 .elementor-column-gap-default > :nth-child(n) {
	width: 100% !important;
}

	/** General >> Div _2 **/
	.e-loop-item-1117 > section:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div {
	padding-bottom: 0 !important;
}

	/** General >> Elementor element populated **/
	.mtp-10 .elementor-element-8b3e7ba .elementor-element-populated {
	padding-bottom: 0 !important;
}

	/** General 2 >> Ast menu toggle **/
	#ast-hf-mobile-menu .ast-menu-toggle {
	color: rgb(255, 255, 255) !important;
}

	/** General 2 >> Div **/
	.swiper-slide-active > section:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > div {
	padding-bottom: 0 !important;
}

	/** General 2 >> Div _2 **/
	.swiper-slide-active > section:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(3) > div {
	padding-bottom: 0 !important;
}

	/** General 2 >> Div _3 **/
	.swiper-slide-active > section:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div {
	padding-bottom: 0 !important;
}

	/** General 2 >> Elementor element populated _4 **/
	.elementor-element-84611b8 .elementor-element-populated {
	padding-bottom: 0 !important;
}

	/** General 2 >> Elementor element populated _2 **/
	.elementor-element-bc3b2cf .elementor-element-populated {
	padding-bottom: 0 !important;
}

	/** General 2 >> Elementor element populated _5 **/
	.elementor-element-41249f5 .elementor-element-populated {
	padding-bottom: 0 !important;
}

}


/*( < 480 )*/
@media (max-width: 479.98px) {
	/** General >> Colophon site above footer inner wrap **/
	#colophon .site-above-footer-inner-wrap {
	display: grid !important;
	grid-template-columns: 100% !important;
}
#colophon .site-above-footer-inner-wrap > :nth-child(2) {
	grid-area: 2 / 1 / 3 / 2 !important;
}
#colophon .site-above-footer-inner-wrap > :nth-child(3) {
	grid-area: 3 / 1 / 4 / 2 !important;
}
#colophon .site-above-footer-inner-wrap > :nth-child(4) {
	grid-area: 4 / 1 / 5 / 2 !important;
}

	/** General >> Site footer above section 2 footer widget area inner **/
	.site-footer-above-section-2 .footer-widget-area-inner {
	padding-left: 40px !important;
	margin-left: 0 !important;
}

	/** General >> Colophon site footer above section 4 **/
	#colophon .site-footer-above-section-4 {
	margin-bottom: 40px !important;
}

	/** General >> Block 11 has ast global color 6 color **/
	#block-11 .has-ast-global-color-6-color {
	padding-right: 0 !important;
	padding-left: 0 !important;
	margin-right: 40px !important;
	margin-left: 40px !important;
}

	/** General >> Site footer above section 3 footer widget area inner **/
	.site-footer-above-section-3 .footer-widget-area-inner {
	padding-left: 0 !important;
}

	/** General >> Site footer above section 1 footer widget area inner **/
	.site-footer-above-section-1 .footer-widget-area-inner {
	padding-left: 0 !important;
}

}

