.wp-block {} /*  Ensures MT files load in FSE */
/*  MICROTHEMER STYLES  */


/*= General =================== */

/** General >> Section (#1) has ast global color 4 color **/
aside > section:nth-of-type(1) > .has-ast-global-color-4-color {
	font-weight: 600 !important;
	margin-bottom: 20px !important;
}

/** General >> Paragraph _2 **/
#block-14 p {
	margin-bottom: -5px !important;
}

/** General >> Ast builder social element **/
#colophon .ast-builder-social-element {
	width: 43px !important;
	display: grid !important;
	grid-template-columns: 1fr 1fr !important;
	grid-template-rows: auto auto !important;
}

/** General >> Block 13 **/
#block-13 {
	position: relative !important;
	top: -15px !important;
}

/** General >> Colophon site primary footer wrap **/
#colophon .site-primary-footer-wrap {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	border-top-width: 0 !important;
}

/** General >> Colophon ast builder grid row tablet 4 equal **/
#colophon .ast-builder-grid-row-tablet-4-equal {
	padding-bottom: 0 !important;
}

/** General >> Block 11 has ast global color 6 color **/
#block-11 .has-ast-global-color-6-color {
	color: rgba(229, 229, 229, 0.47) !important;
	padding-top: 10px !important;
	margin-bottom: 0 !important;
	border-top: 1px solid rgba(255, 255, 255, 0.61) !important;
}

/** General >> Colophon site below footer wrap **/
#colophon .site-below-footer-wrap {
	background-color: rgb(58, 0, 91) !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

/** General >> Content ast container **/
#content .ast-container {
	background-color: rgb(255, 255, 255) !important;
}

/** General >> Paragraph _3 **/
.mtp-2003 .uael-timeline-desc-content p {
	margin-bottom: 0 !important;
}

/** General >> Secondary heading 2 **/
#secondary h2 {
	margin-bottom: 5px !important;
}

/** General >> Secondary widget **/
#secondary .widget {
	padding-bottom: 20px !important;
	margin-bottom: 0 !important;
}

/** General >> Gcse 0 gsc control cse en **/
#___gcse_0 .gsc-control-cse-en {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	padding-left: 0 !important;
}

/** General >> Gs tti50 **/
#gs_tti50 {
	border: 1px solid rgb(220, 220, 220) !important;
	border-radius: 3px !important;
}

/** General >> Table row gsc input **/
tr > .gsc-input {
	padding-right: 0 !important;
}

/** General >> Content uael team member content **/
#content .uael-team-member-content {
	padding-right: 0 !important;
	padding-bottom: 0 !important;
	padding-left: 0 !important;
}

/** General >> Menu link **/
#menu-about .menu-link {
	color: rgb(255, 255, 255) !important;
	font-size: 14px !important;
	font-weight: 300 !important;
	position: relative !important;
	top: 4px !important;
}

/** General >> Menu link _3 **/
#menu-license-and-contributing .menu-link {
	font-size: 14px !important;
	font-weight: 300 !important;
}

/** General >> Has ast global color 5 color _2 **/
#block-30 .has-ast-global-color-5-color {
	margin-bottom: 12px !important;
}

/** General >> Has ast global color 5 color **/
#block-32 .has-ast-global-color-5-color {
	color: rgb(255, 255, 255) !important;
	font-size: 14px !important;
	font-weight: 300 !important;
	position: relative !important;
	top: -1px !important;
}
#block-32 .has-ast-global-color-5-color a:link {
	color: rgb(255, 255, 255) !important;
	font-size: 14px !important;
	font-weight: 300 !important;
	position: relative !important;
}
#block-32 .has-ast-global-color-5-color a:visited {
	color: rgb(255, 255, 255) !important;
	font-size: 14px !important;
	font-weight: 300 !important;
	position: relative !important;
}

/** General >> Button link **/
.wp-block-button__link {
	padding: 12px 20px 12px 20px !important;
	border-radius: 10px !important;
}

/** General >> Elementor element populated **/
.mtp-10 .elementor-element-8b3e7ba .elementor-element-populated {
	padding-top: 8px !important;
}

/** General >> Div _3 **/
.mtp-10 .elementor-element-b16017f > div {
	padding-bottom: 5px !important;
	display: none !important;
}

/** General >> Elementor widget heading (#1) **/
.mtp-10 .elementor-inner-section > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > .elementor-widget-heading:nth-of-type(1) {
	top: 1px !important;
}

/** General >> Elementor element 623d2c5 **/
.comments__summary {
	max-width: 1280px !important;
	margin-right: auto !important;
	margin-left: auto !important;
}

/** General >> Paragraph **/
.elementor-widget-text-editor p {
	padding-left: 10px !important;
	margin-bottom: 0 !important;
	justify-items: center !important;
}

/** General >> Gs id50 **/
#gs_id50 {
	margin-bottom: 0 !important;
}

/** General >> Post navigation next title **/
.post-navigation__next--title {
	white-space: normal !important;
	padding-left: 10px !important;
}

/** General >> Post navigation prev title **/
.post-navigation__prev--title {
	white-space: normal !important;
}

/** General >> width for small screens **/
.html {
	overflow-x: hidden !important;
}

/** General >> Html **/
html {
	overflow-x: hidden !important;
}

/** General >> Heading 1 **/
.mtp-10 #content h1 {
	text-align: left !important;
}

/** General >> Elementor element 46b76cb **/
.mtp-10 .elementor-element-46b76cb {
	position: fixed !important;
	bottom: 0 !important;
	left: 0 !important;
	right: 0 !important;
	z-index: 10 !important;
}

/** General >> Footer blurb **/
.footer-blurb {
	font-size: 14px !important;
	position: relative !important;
	top: -4px !important;
}


/*= Main Menu ================= */

/** Main Menu >> Elementor element 68efcbb **/
.elementor-element-68efcbb {
	margin-bottom: 0 !important;
}


/*= Footer ==================== */

/** Footer >> Ast footer copyright paragraph **/
.ast-footer-copyright p {
	color: rgba(255, 255, 255, 0.61) !important;
	font-size: 13px !important;
	text-align: left !important;
}

/** Footer >> Site footer above section 1 footer widget area inner **/
.site-footer-above-section-1 .footer-widget-area-inner {
	position: relative !important;
	top: -10px !important;
}


/*= General 2 ================= */

/** General 2 >> Menu item object custom **/
#menu-license-and-contributing .menu-item-object-custom {
	position: relative !important;
	top: 1px !important;
}

/** General 2 >> Div _3 **/
.swiper-slide-active > section:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div {
	padding-right: 0 !important;
}

/** General 2 >> Elementor element populated Moved 1 **/
.mtp-10 .elementor-element-8b3e7ba .elementor-element-populated {
	padding-top: 7px !important;
}

/** General 2 >> Ast social element style filled **/
.ast-social-element-style-filled {
	width: 125px !important;
	display: grid !important;
	grid-template-columns: 1fr 1fr !important;
	grid-template-rows: auto auto !important;
}

/** General 2 >> Iframe **/
.elementor-facebook-widget iframe {
	height: 40px !important;
}

/** General 2 >> Menu icons **/
.menu_github > a:nth-of-type(1) > span::before {
	font-size: 22px !important;
}

/** General 2 >> Post navigation **/
.post-navigation {
	padding-right: 45px !important;
	padding-left: 45px !important;
}

/** General 2 >> Elementor widget container _2 **/
.mtp-2463 .elementor-widget-uael-infobox .elementor-widget-container {
	border-right-color: rgb(63, 2, 97) !important;
	border-bottom-color: rgb(63, 2, 97) !important;
	border-left-color: rgb(63, 2, 97) !important;
	border-top-width: 2px !important;
	border-style: solid !important;
	border-radius: 15px !important;
}

/** General 2 >> Fa tools (::before) **/
.mtp-2463 .fa-tools::before {
	background-color: rgb(63, 2, 97) !important;
	padding: 15px !important;
	border-radius: 46px !important;
}

/** General 2 >> Elementor element 4304b01 **/
.mtp-2463 .elementor-element-4304b01 {
	width: 80% !important;
}

/** General 2 >> Elementor blockquote content **/
.mtp-2463 .elementor-blockquote__content {
	margin-bottom: 0 !important;
}

/** General 2 >> Heading 3 _2 **/
.mtp-2463 .elementor-element-5b97048 h3 {
	text-align: center !important;
	background-color: rgb(255, 238, 4) !important;
	width: 140px !important;
	padding: 5px !important;
	border-radius: 6px !important;
}

/** General 2 >> Heading 4 **/
.mtp-2463 h4 {
	background-color: rgba(255, 255, 255, 0) !important;
}

/** General 2 >> Elementor element c92f59c **/
.mtp-2463 .elementor-element-c92f59c {
	background-color: rgb(255, 255, 255) !important;
	padding-right: 15px !important;
	padding-left: 5px !important;
	border: 2px solid rgb(63, 2, 97) !important;
	border-radius: 15px !important;
}

/** General 2 >> Heading 3 **/
.mtp-2463 .elementor-element-b55b113 h3 {
	text-align: center !important;
	background-color: rgb(255, 238, 4) !important;
	width: 140px !important;
	padding: 5px !important;
	border-radius: 6px !important;
}

/** General 2 >> InvolveMe form iframe **/
.mtp-475 .involveme_embed iframe {
	width: 1200px !important;
	height: 795px !important;
}

/** General 2 >> Ditty item elements **/
.mtp-10 .ditty-item__elements {
	display: grid !important;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr !important;
	grid-template-rows: auto !important;
}
.mtp-10 .ditty-item__elements > :nth-child(2) {
	grid-area: 1 / 2 / 2 / 6 !important;
}

/** General 2 >> Ditty item heading **/
.mtp-10 .ditty-item-heading {
	font-size: 18px !important;
	line-height: 20px !important;
	vertical-align: top !important;
	padding-top: 3px !important;
	padding-left: 20px !important;
	margin-bottom: 0 !important;
}

/** General 2 >> Ditty item title **/
.mtp-10 .ditty-item__title {
	vertical-align: top !important;
}

/** General 2 >> Ditty item time link **/
.mtp-10 .ditty-item__time__link {
	font-size: 15px !important;
	font-weight: 300 !important;
}

/** General 2 >> Has ast global color 5 color **/
#block-26 .has-ast-global-color-5-color {
	margin-bottom: 18px !important;
}

/** General 2 >> Uael modal content data **/
#modal-fe7358e .uael-modal-content-data {
	height: 100% !important;
	border-radius: 15px !important;
}

/** General 2 >> Elementor inline editing **/
#modal-fe7358e .elementor-inline-editing {
	border-radius: 5px !important;
}

/** General 2 >> Uael close custom popup edge top right **/
#modal-fe7358e .uael-close-custom-popup-edge-top-right {
	top: 10px !important;
	right: 10px !important;
}

/** General 2 >> Uael content **/
#modal-fe7358e .uael-content {
	height: 650px !important;
	border-radius: 15px !important;
}

/** General 2 >> Elementor widget container _3 **/
.mtp-2463 .elementor-element-75a02c8 .elementor-widget-container {
	background-color: rgb(255, 255, 255) !important;
	padding-right: 25px !important;
	padding-left: 25px !important;
	border: 2px solid rgb(63, 2, 97) !important;
	border-radius: 15px !important;
}

/** General 2 >> List item _2 **/
.mtp-2463 ol > li {
	padding-top: 10px !important;
	position: relative !important;
	left: -10px !important;
}

/** General 2 >> Elementor widget container _4 **/
.mtp-2463 .elementor-element-07a70f5 .elementor-widget-container {
	background-color: rgb(255, 255, 255) !important;
	padding-right: 25px !important;
	padding-left: 25px !important;
	border: 2px solid rgb(63, 2, 97) !important;
	border-radius: 15px !important;
}

/** General 2 >> Elementor widget container _5 **/
.mtp-2463 .elementor-element-445cd94 .elementor-widget-container {
	background-color: rgb(255, 255, 255) !important;
	padding-right: 25px !important;
	padding-left: 25px !important;
	border: 2px solid rgb(63, 2, 97) !important;
	border-radius: 15px !important;
}


/*= General 3 ================= */

/** General 3 >> Heading 3 **/
.mtp-2463 .elementor-widget-text-editor h3 {
	padding-left: 15px !important;
	margin-top: 10px !important;
}

/** General 3 >> Strong **/
.mtp-2463 h3 strong {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(63, 2, 97) !important;
	padding: 7px 17px 7px 17px !important;
	border-width: 0 !important;
	border-style: solid !important;
	border-radius: 40px !important;
}

/** General 3 >> Fa book open (::before) **/
.mtp-2463 .fa-book-open::before {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(63, 2, 97) !important;
	padding: 12px !important;
	border-width: 0 !important;
	border-style: solid !important;
	border-radius: 25px !important;
}

/** General 3 >> Strong _3 **/
.mtp-2463 .elementor-element-ce20982 strong {
	padding-right: 20px !important;
	padding-left: 20px !important;
}

/** General 3 >> Swiper slide **/
.mtp-10 .elementor-main-swiper .swiper-slide {
	filter: grayscale(1) !important;
	opacity: 0.5 !important;
}

/** General 3 >> Swiper slide active **/
.mtp-10 .elementor-main-swiper .swiper-slide-next {
	filter: grayscale(0) !important;
	opacity: 1 !important;
}

/** General 3 >> Elementor swiper button prev **/
.mtp-10 .elementor-swiper-button-prev {
	box-shadow: 0 0 0 3px rgba(132, 130, 130, 0.3) !important;
	background-color: rgb(255, 255, 255) !important;
	width: 45px !important;
	height: 45px !important;
	border: 0 none rgb(193, 193, 193) !important;
	border-radius: 25px !important;
	position: relative !important;
	top: -190px !important;
	bottom: 0 !important;
	left: 385px !important;
	right: 0 !important;
	box-shadow: 0 0 5px 0 rgb(65, 65, 65) !important;
}

/** General 3 >> Eicon chevron left (::before) **/
.mtp-10 .eicon-chevron-left::before {
	width: 55px !important;
	padding-top: auto !important;
	margin-left: 8px !important;
	border-radius: 25px !important;
	position: relative !important;
	top: 8px !important;
}

/** General 3 >> Elementor swiper button next **/
.mtp-10 .elementor-swiper-button-next {
	background-color: rgb(255, 255, 255) !important;
	width: 45px !important;
	height: 45px !important;
	border: 0 none rgb(193, 193, 193) !important;
	border-radius: 25px !important;
	position: relative !important;
	top: -190px !important;
	bottom: 0 !important;
	left: -385px !important;
	right: 0 !important;
	float: right !important;
	box-shadow: 0 0 0 3px rgba(65, 65, 65, 0.3) !important;
	box-shadow: 0 0 5px 0 rgb(38, 38, 38) !important;
}

/** General 3 >> Eicon chevron right (::before) **/
.mtp-10 .eicon-chevron-right::before {
	position: relative !important;
	top: 8px !important;
	left: 10px !important;
}

/** General 3 >> Page template elementor header footermtp 10 **/
.show_suggestions_menu .page-template-elementor_header_footer.mtp-10 {
	opacity: 1.0 !important;
}

/** General 3 >> Link **/
.mtp-4884 .elementor-widget-text-editor a {
	color: rgb(255, 255, 255) !important;
}


/*= General 2 2 =============== */

/** General 2 2 >> Elementor widget container **/
.mtp-10 .elementor-widget-uael-team-member .elementor-widget-container {
	background-color: rgb(255, 255, 255) !important;
	padding: 25px 25px 0 25px !important;
	border-radius: 15px !important;
}

/** General 2 2 >> Elementor testimonial content **/
.mtp-10 .elementor-testimonial__content {
	display: grid !important;
	grid-template-columns: 1fr !important;
	grid-template-rows: auto auto !important;
}
.mtp-10 .elementor-testimonial__content > :nth-child(2) {
	grid-area: 1 / 1 / 2 / 2 !important;
}

/** General 2 2 >> Elementor testimonial text **/
.mtp-10 .elementor-testimonial__text {
	padding-top: 30px !important;
}

/** General 2 2 >> Ast single related posts container **/
.ast-single-related-posts-container {
	padding-right: 45px !important;
	padding-left: 45px !important;
}

/** General 2 2 >> Commentbox **/
.commentbox {
	padding-top: 25px !important;
	padding-right: 45px !important;
	padding-left: 45px !important;
}


/*( < 1200 )*/
@media (max-width: 1199.98px) {
	/** General >> Block 11 has ast global color 6 color **/
	#block-11 .has-ast-global-color-6-color {
	padding-right: 40px !important;
	padding-left: 40px !important;
}

	/** General >> Ast builder grid row tablet 2 equal **/
	#colophon .ast-builder-grid-row-tablet-2-equal {
	padding-left: 25px !important;
}

	/** General >> Site above footer inner wrap **/
	#colophon .site-above-footer-inner-wrap {
	max-width: 900px !important;
}

	/** General 2 >> Has ast global color 6 color **/
	#block-21 .has-ast-global-color-6-color {
	margin-right: 40px !important;
	margin-left: 40px !important;
}

	/** General 2 >> Heading 4 **/
	.mtp-2463 h4 {
	padding-left: 5px !important;
}

	/** Footer >> Ast footer copyright paragraph **/
	.ast-footer-copyright p {
	padding-left: 40px !important;
}

	/** General 3 >> Elementor swiper button prev **/
	.mtp-10 .elementor-swiper-button-prev {
	top: -215px !important;
	left: 345px !important;
}

	/** General 3 >> Elementor swiper button next **/
	.mtp-10 .elementor-swiper-button-next {
	top: -215px !important;
	left: -345px !important;
}

}


/*( < 1024 )*/
@media (max-width: 1024px) {
	/** General >> Div _3 **/
	.mtp-10 .elementor-element-b16017f > div {
	padding-top: 5px !important;
}

	/** General >> Post navigation prev title **/
	.post-navigation__prev--title {
	padding-right: 10px !important;
}

	/** General >> Elementor element 46b76cb **/
	.mtp-10 .elementor-element-46b76cb {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

	/** General >> Ast builder grid row tablet 2 equal **/
	#colophon .ast-builder-grid-row-tablet-2-equal {
	padding-right: 25px !important;
}

	/** General >> Ast builder social element **/
	#colophon .ast-builder-social-element {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

	/** General >> Site above footer inner wrap **/
	#colophon .site-above-footer-inner-wrap {
	max-width: 800px !important;
}

	/** General >> Footer widget area inner **/
	.site-footer-above-section-2 .footer-widget-area-inner {
	position: relative !important;
	top: -10px !important;
}

	/** General 2 >> Elementor element populated Moved 1 **/
	.mtp-10 .elementor-element-8b3e7ba .elementor-element-populated {
	min-width: 130px !important;
	left: -10px !important;
}

	/** General 2 >> Ast social element style filled **/
	.ast-social-element-style-filled {
	display: grid !important;
	grid-template-columns: 1fr 1fr !important;
	grid-template-rows: auto auto !important;
}
.ast-social-element-style-filled > :nth-child(n) {
	margin: 0 5px !important;
}
.ast-social-element-style-filled > :nth-child(2) {
	grid-area: 1 / 2 / 2 / 3 !important;
}
.ast-social-element-style-filled > :nth-child(3) {
	grid-area: 2 / 1 / 3 / 2 !important;
}
.ast-social-element-style-filled > :nth-child(4) {
	grid-area: 2 / 2 / 3 / 3 !important;
}

	/** General 3 >> Swiper slide **/
	.mtp-10 .elementor-main-swiper .swiper-slide {
	filter: grayscale(0) !important;
	opacity: 1 !important;
}

	/** General 3 >> Swiper slide active **/
	.mtp-10 .elementor-main-swiper .swiper-slide-next {
	filter: grayscale(0) !important;
	opacity: 1 !important;
}

	/** General 3 >> Elementor swiper button prev **/
	.mtp-10 .elementor-swiper-button-prev {
	top: -170px !important;
	left: 10px !important;
	float: left !important;
}

	/** General 3 >> Elementor swiper button next **/
	.mtp-10 .elementor-swiper-button-next {
	margin-right: 5px !important;
	position: relative !important;
	top: -170px !important;
	left: -5px !important;
	right: 56px !important;
	float: right !important;
}

	/** General 2 2 >> Ast single related posts container **/
	.ast-single-related-posts-container {
	padding-right: 30px !important;
	padding-left: 30px !important;
}

	/** General 2 2 >> Commentbox **/
	.commentbox {
	padding-top: 25px !important;
	padding-right: 35px !important;
	padding-left: 35px !important;
}

}


/*( < 767 )*/
@media (max-width: 767px) {
	/** General >> Block 11 has ast global color 6 color **/
	#block-11 .has-ast-global-color-6-color {
	padding-right: 0 !important;
	padding-left: 0 !important;
	margin-right: 40px !important;
	margin-left: 40px !important;
}

	/** General >> Site above footer inner wrap **/
	#colophon .site-above-footer-inner-wrap {
	padding: 0 !important;
	display: grid !important;
}
#colophon .site-above-footer-inner-wrap > :nth-child(1) {
	grid-area: 1 / 1 / 2 / 6 !important;
}
#colophon .site-above-footer-inner-wrap > :nth-child(2) {
	grid-area: 2 / 1 / 3 / 6 !important;
}
#colophon .site-above-footer-inner-wrap > :nth-child(3) {
	grid-area: 3 / 1 / 4 / 6 !important;
}
#colophon .site-above-footer-inner-wrap > :nth-child(4) {
	grid-area: 4 / 1 / 5 / 6 !important;
}
#colophon .site-above-footer-inner-wrap > :nth-child(5) {
	grid-area: 5 / 1 / 6 / 6 !important;
}

	/** General >> Elementor element populated **/
	.mtp-10 .elementor-element-8b3e7ba .elementor-element-populated {
	padding-bottom: 5px !important;
}

	/** General >> Elementor container (#1) **/
	.swiper-slide-active .elementor-container:nth-of-type(1) {
	display: grid !important;
	grid-template-columns: 1fr !important;
	grid-template-rows: auto auto auto auto !important;
}
.swiper-slide-active .elementor-container:nth-of-type(1) > :nth-child(n) {
	width: 100% !important;
}
.swiper-slide-active .elementor-container:nth-of-type(1) > :nth-child(3) {
	grid-area: 3 / 1 / 4 / 2 !important;
}

	/** General >> Elementor column gap default **/
	.elementor-element-352da86 .elementor-column-gap-default {
	display: grid !important;
	grid-template-columns: 1fr !important;
	grid-template-rows: auto auto auto auto !important;
}
.elementor-element-352da86 .elementor-column-gap-default > :nth-child(n) {
	width: 100% !important;
}

	/** General >> Elementor element 46b76cb **/
	.mtp-10 .elementor-element-46b76cb {
	padding-top: 10px !important;
	padding-bottom: 20px !important;
}

	/** General >> Footer widget area inner **/
	.site-footer-above-section-2 .footer-widget-area-inner {
	text-align: center !important;
	position: relative !important;
	top: -13px !important;
}

	/** General >> Ast footer social 1 wrap **/
	#colophon .ast-footer-social-1-wrap {
	display: grid !important;
	justify-items: center !important;
}
#colophon .ast-footer-social-1-wrap > :nth-child(1) {
	grid-area: 1 / 1 / 2 / 2 !important;
}

	/** General >> Footer blurb **/
	.footer-blurb {
	margin-right: 50px !important;
	margin-left: 50px !important;
}

	/** General >> Section (#1) has ast global color 4 color **/
	aside > section:nth-of-type(1) > .has-ast-global-color-4-color {
	text-align: center !important;
	margin-bottom: 20px !important;
}

	/** General 2 >> Ast menu toggle **/
	#ast-hf-mobile-menu .ast-menu-toggle {
	color: rgb(255, 255, 255) !important;
}

	/** General 2 >> Div **/
	.swiper-slide-active > section:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > div {
	padding-bottom: 0 !important;
}

	/** General 2 >> Div _2 **/
	.swiper-slide-active > section:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(3) > div {
	padding-bottom: 0 !important;
}

	/** General 2 >> Div _3 **/
	.swiper-slide-active > section:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div {
	padding-bottom: 0 !important;
}

	/** General 2 >> Elementor element populated _4 **/
	.elementor-element-84611b8 .elementor-element-populated {
	padding-bottom: 0 !important;
}

	/** General 2 >> Elementor element populated _2 **/
	.elementor-element-bc3b2cf .elementor-element-populated {
	padding-bottom: 0 !important;
}

	/** General 2 >> Elementor element populated _5 **/
	.elementor-element-41249f5 .elementor-element-populated {
	padding-bottom: 0 !important;
}

	/** General 2 >> Elementor element populated Moved 1 **/
	.mtp-10 .elementor-element-8b3e7ba .elementor-element-populated {
	left: 0 !important;
}

	/** General 2 >> Ast social element style filled **/
	.ast-social-element-style-filled {
	display: grid !important;
	-webkit-justify-content: center !important;
	justify-content: center !important;
}
.ast-social-element-style-filled > :nth-child(n) {
	margin: 0px 7px !important;
}
.ast-social-element-style-filled > :nth-child(3) {
	grid-area: 1 / 3 / 2 / 4 !important;
}
.ast-social-element-style-filled > :nth-child(4) {
	grid-area: 1 / 4 / 2 / 5 !important;
}

	/** General 2 >> Ditty item elements **/
	.mtp-10 .ditty-item__elements {
	line-height: 17px !important;
}

	/** General 2 >> Ditty item title link **/
	.mtp-10 .ditty-item__title__link {
	vertical-align: top !important;
}

	/** General 2 >> Uael modal content data **/
	#modal-fe7358e .uael-modal-content-data {
	width: 500px !important;
	height: 800px !important;
}

	/** General 2 >> Footer widget area inner **/
	.site-footer-above-section-4 .footer-widget-area-inner {
	text-align: center !important;
}

	/** General 2 >> Ast builder layout element **/
	.site-footer-above-section-5 .ast-builder-layout-element {
	display: grid !important;
	grid-template-columns: 1fr !important;
	grid-template-rows: auto !important;
}

	/** General 2 >> Uael content **/
	#modal-fe7358e .uael-content {
	width: 400px !important;
}

	/** Footer >> Ast footer copyright paragraph **/
	.ast-footer-copyright p {
	text-align: center !important;
	padding-left: 0 !important;
}

	/** Footer >> Site footer above section 1 footer widget area inner **/
	.site-footer-above-section-1 .footer-widget-area-inner {
	text-align: center !important;
}

	/** Footer >> Footer widget area inner **/
	.site-footer-above-section-3 .footer-widget-area-inner {
	text-align: center !important;
}

	/** Footer >> Site footer above section 5 **/
	#colophon .site-footer-above-section-5 {
	text-align: center !important;
}

	/** General 3 >> Elementor swiper button prev **/
	.mtp-10 .elementor-swiper-button-prev {
	top: -170px !important;
}

	/** General 3 >> Elementor swiper button next **/
	.mtp-10 .elementor-swiper-button-next {
	margin-right: 10px !important;
	position: relative !important;
	top: -170px !important;
	left: 0 !important;
}

	/** General 2 2 >> Ast single related posts container **/
	.ast-single-related-posts-container {
	padding-right: 25px !important;
	padding-left: 25px !important;
}

	/** General 2 2 >> Commentbox **/
	.commentbox {
	padding-left: 25px !important;
}

}


/*( < 480 )*/
@media (max-width: 479.98px) {
	/** General >> Block 11 has ast global color 6 color **/
	#block-11 .has-ast-global-color-6-color {
	padding-right: 0 !important;
	padding-left: 0 !important;
	margin-right: 40px !important;
	margin-left: 40px !important;
}

	/** General >> Post navigation next title **/
	.post-navigation__next--title {
	font-size: 16px !important;
}

	/** General >> Post navigation prev title **/
	.post-navigation__prev--title {
	font-size: 16px !important;
}

	/** General >> Heading 1 **/
	.mtp-10 #content h1 {
	font-size: 28px !important;
}

	/** General >> Footer widget area inner **/
	.site-footer-above-section-2 .footer-widget-area-inner {
	margin-bottom: 0 !important;
}

	/** General >> Ast footer social 1 wrap **/
	#colophon .ast-footer-social-1-wrap {
	width: 100% !important;
	display: grid !important;
	justify-items: center !important;
}
#colophon .ast-footer-social-1-wrap > :nth-child(1) {
	grid-area: 1 / 1 / 2 / 2 !important;
}

	/** General >> Paragraph _2 **/
	#block-14 p {
	width: 100% !important;
}

	/** General 2 >> Ast social element style filled **/
	.ast-social-element-style-filled {
	justify-items: start !important;
}

	/** General 2 >> Ditty item elements **/
	.mtp-10 .ditty-item__elements {
	display: grid !important;
}
.mtp-10 .ditty-item__elements > :nth-child(1) {
	grid-area: 1 / 1 / 2 / 6 !important;
}
.mtp-10 .ditty-item__elements > :nth-child(2) {
	grid-area: 2 / 1 / 3 / 6 !important;
}

	/** General 2 >> Ditty item heading **/
	.mtp-10 .ditty-item-heading {
	padding-left: 0 !important;
}

	/** General 2 >> Uael content **/
	#modal-fe7358e .uael-content {
	max-width: 360px !important;
}

	/** General 2 >> Heading 4 **/
	.mtp-2463 h4 {
	padding-left: 20px !important;
}

	/** Footer >> Site footer above section 1 **/
	#colophon .site-footer-above-section-1 {
	width: 100% !important;
}

	/** Footer >> Site footer above section 1 footer widget area inner **/
	.site-footer-above-section-1 .footer-widget-area-inner {
	width: 100% !important;
	padding-right: 0 !important;
}

	/** General 3 >> Elementor swiper button prev **/
	.mtp-10 .elementor-swiper-button-prev {
	top: -215px !important;
	left: 5px !important;
}

	/** General 3 >> Elementor swiper button next **/
	.mtp-10 .elementor-swiper-button-next {
	top: -215px !important;
	left: 5px !important;
	right: 56px !important;
}

	/** General 3 >> Footer widget area inner **/
	.mtp-10 .site-footer-above-section-5 .footer-widget-area-inner {
	width: 100% !important;
	margin-right: 0 !important;
}

	/** General 2 2 >> Ast single related posts container **/
	.ast-single-related-posts-container {
	padding-right: 15px !important;
	padding-left: 15px !important;
}

	/** General 2 2 >> Commentbox **/
	.commentbox {
	padding-right: 15px !important;
	padding-left: 15px !important;
}

}

