/*  MICROTHEMER STYLES  */


/*= General =================== */

/** General >> Section (#1) has ast global color 4 color **/
aside > section:nth-of-type(1) > .has-ast-global-color-4-color {
	font-weight: 600 !important;
}

/** General >> Colophon site primary footer wrap **/
#colophon .site-primary-footer-wrap {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	border-top-width: 0 !important;
}

/** General >> Block 9 has ast global color 5 color **/
#block-9 .has-ast-global-color-5-color {
	margin-bottom: 0 !important;
	position: relative !important;
	top: -2px !important;
}

/** General >> Block 11 has ast global color 6 color **/
#block-11 .has-ast-global-color-6-color {
	color: rgba(229, 229, 229, 0.47) !important;
	padding-top: 10px !important;
	margin-bottom: 0 !important;
	border-top: 1px solid rgba(255, 255, 255, 0.61) !important;
}

/** General >> Colophon site below footer wrap **/
#colophon .site-below-footer-wrap {
	background-color: rgb(58, 0, 91) !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

/** General >> Content ast container **/
#content .ast-container {
	background-color: rgb(255, 255, 255) !important;
}

/** General >> Secondary heading 2 **/
#secondary h2 {
	margin-bottom: 5px !important;
}

/** General >> Secondary widget **/
#secondary .widget {
	padding-bottom: 20px !important;
	margin-bottom: 0 !important;
}

/** General >> Gcse 0 gsc control cse en **/
#___gcse_0 .gsc-control-cse-en {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	padding-left: 0 !important;
}

/** General >> Gs tti50 **/
#gs_tti50 {
	border: 1px solid rgb(220, 220, 220) !important;
	border-radius: 3px !important;
}

/** General >> Table row gsc input **/
tr > .gsc-input {
	padding-right: 0 !important;
}

/** General >> Content uael team member content **/
#content .uael-team-member-content {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

/** General >> Menu link **/
#menu-about .menu-link {
	color: rgb(255, 255, 255) !important;
	font-weight: 600 !important;
}

/** General >> Button link **/
.wp-block-button__link {
	padding: 12px 20px 12px 20px !important;
	border-radius: 10px !important;
}

/** General >> Elementor element populated **/
.mtp-10 .elementor-element-8b3e7ba .elementor-element-populated {
	padding-top: 8px !important;
}

/** General >> Div _3 **/
.mtp-10 .elementor-element-b16017f > div {
	padding-bottom: 5px !important;
}

/** General >> Elementor widget heading (#1) **/
.mtp-10 .elementor-inner-section > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > .elementor-widget-heading:nth-of-type(1) {
	top: 1px !important;
}

/** General >> Elementor element 623d2c5 **/
.comments__summary {
	max-width: 1280px !important;
	margin-right: auto !important;
	margin-left: auto !important;
}

/** General >> Paragraph **/
.elementor-widget-text-editor p {
	margin-bottom: 0 !important;
}


/*= Main Menu ================= */

/** Main Menu >> Elementor element 68efcbb **/
.elementor-element-68efcbb {
	margin-bottom: 0 !important;
}


/*= Footer ==================== */

/** Footer >> Ast footer copyright paragraph **/
.ast-footer-copyright p {
	color: rgba(255, 255, 255, 0.61) !important;
	font-size: 13px !important;
	text-align: left !important;
}

/** Footer >> Site footer above section 1 footer widget area inner **/
.site-footer-above-section-1 .footer-widget-area-inner {
	position: relative !important;
	top: -10px !important;
}


/*= General 2 ================= */

/** General 2 >> Elementor element populated Moved 1 **/
.mtp-10 .elementor-element-8b3e7ba .elementor-element-populated {
	padding-top: 7px !important;
}

/** General 2 >> Iframe **/
.elementor-facebook-widget iframe {
	height: 40px !important;
}


/*( < 1200 )*/
@media (max-width: 1199.98px) {
	/** General >> Block 11 has ast global color 6 color **/
	#block-11 .has-ast-global-color-6-color {
	padding-right: 40px !important;
	padding-left: 40px !important;
}

	/** General 2 >> Has ast global color 6 color **/
	#block-21 .has-ast-global-color-6-color {
	margin-right: 40px !important;
	margin-left: 40px !important;
}

	/** General 2 >> Ast builder grid row tablet 2 equal **/
	.ast-builder-grid-row-tablet-2-equal {
	padding-right: 20px !important;
	padding-left: 40px !important;
}

	/** Footer >> Ast footer copyright paragraph **/
	.ast-footer-copyright p {
	padding-left: 40px !important;
}

}


/*( < 980 )*/
@media (max-width: 979.98px) {
	/** General 2 >> Elementor element populated Moved 1 **/
	.mtp-10 .elementor-element-8b3e7ba .elementor-element-populated {
	min-width: 130px !important;
	left: -10px !important;
}

	/** General 2 >> Ast social element style filled **/
	.ast-social-element-style-filled {
	display: grid !important;
	grid-template-columns: 1fr 1fr 1fr 1fr !important;
	grid-template-rows: auto !important;
}
.ast-social-element-style-filled > :nth-child(n) {
	margin: 0 5px !important;
}

}


/*( < 768 )*/
@media (max-width: 767.98px) {
	/** General >> Block 11 has ast global color 6 color **/
	#block-11 .has-ast-global-color-6-color {
	padding-right: 0 !important;
	padding-left: 0 !important;
	margin-right: 40px !important;
	margin-left: 40px !important;
}

	/** General >> Elementor element populated **/
	.mtp-10 .elementor-element-8b3e7ba .elementor-element-populated {
	padding-bottom: 5px !important;
}

	/** General >> Elementor container (#1) **/
	.swiper-slide-active .elementor-container:nth-of-type(1) {
	display: grid !important;
	grid-template-columns: 1fr !important;
	grid-template-rows: auto auto auto auto !important;
}
.swiper-slide-active .elementor-container:nth-of-type(1) > :nth-child(n) {
	width: 100% !important;
}
.swiper-slide-active .elementor-container:nth-of-type(1) > :nth-child(3) {
	grid-area: 3 / 1 / 4 / 2 !important;
}

	/** General >> Elementor column gap default **/
	.elementor-element-352da86 .elementor-column-gap-default {
	display: grid !important;
	grid-template-columns: 1fr !important;
	grid-template-rows: auto auto auto auto !important;
}
.elementor-element-352da86 .elementor-column-gap-default > :nth-child(n) {
	width: 100% !important;
}

	/** General 2 >> Ast menu toggle **/
	#ast-hf-mobile-menu .ast-menu-toggle {
	color: rgb(255, 255, 255) !important;
}

	/** General 2 >> Div **/
	.swiper-slide-active > section:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > div {
	padding-bottom: 0 !important;
}

	/** General 2 >> Div _2 **/
	.swiper-slide-active > section:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(3) > div {
	padding-bottom: 0 !important;
}

	/** General 2 >> Div _3 **/
	.swiper-slide-active > section:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > section:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div {
	padding-bottom: 0 !important;
}

	/** General 2 >> Elementor element populated _4 **/
	.elementor-element-84611b8 .elementor-element-populated {
	padding-bottom: 0 !important;
}

	/** General 2 >> Elementor element populated _2 **/
	.elementor-element-bc3b2cf .elementor-element-populated {
	padding-bottom: 0 !important;
}

	/** General 2 >> Elementor element populated _5 **/
	.elementor-element-41249f5 .elementor-element-populated {
	padding-bottom: 0 !important;
}

	/** General 2 >> Elementor element populated Moved 1 **/
	.mtp-10 .elementor-element-8b3e7ba .elementor-element-populated {
	left: 0 !important;
}

	/** General 2 >> Ast social element style filled **/
	.ast-social-element-style-filled {
	
}
.ast-social-element-style-filled > :nth-child(n) {
	margin: 0px 7px !important;
}

	/** Footer >> Ast footer copyright paragraph **/
	.ast-footer-copyright p {
	text-align: center !important;
	padding-left: 0 !important;
}

}


/*( < 480 )*/
@media (max-width: 479.98px) {
	/** General >> Block 11 has ast global color 6 color **/
	#block-11 .has-ast-global-color-6-color {
	padding-right: 0 !important;
	padding-left: 0 !important;
	margin-right: 40px !important;
	margin-left: 40px !important;
}

	/** General 2 >> Ast social element style filled **/
	.ast-social-element-style-filled {
	padding-right: 140px !important;
	justify-items: start !important;
}

}

