body {
  font-family: 'Inter', sans-serif;
}
.background{
  background-color: #F3F8FE;
}
.sticky{
  background-color:#F3F8FE;
}
         
.btn-grad {
  background-image: linear-gradient(to right, #380687 0%, #3a7bd5  51%, #4606BB  100%);
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.dot {
  height: 14px;
  width: 14px;
  background-color:rgb(55 65 81);
  border-radius: 50%;
  display: inline-block;
  
}
.footer-bg{
  background-color:#F5F4F5 ;
}
.video{
  border-radius: 10px;
}
.card-bg{
  background-color:#E1D1FF;
}
.orange-div{
  background-color:#FF8154;
  border-radius:0px 0px 5px 0px ;
}