@font-face {
  font-family: 'icomoon';
  src:  url('https://specmatic.in/wp-content/uploads/elementor/custom-icons/icomoon-1/fonts/icomoon.eot?htb0g2');
  src:  url('https://specmatic.in/wp-content/uploads/elementor/custom-icons/icomoon-1/fonts/icomoon.eot?htb0g2#iefix') format('embedded-opentype'),
    url('https://specmatic.in/wp-content/uploads/elementor/custom-icons/icomoon-1/fonts/icomoon.ttf?htb0g2') format('truetype'),
    url('https://specmatic.in/wp-content/uploads/elementor/custom-icons/icomoon-1/fonts/icomoon.woff?htb0g2') format('woff'),
    url('https://specmatic.in/wp-content/uploads/elementor/custom-icons/icomoon-1/fonts/icomoon.svg?htb0g2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-face-happy:before {
  content: "\e910";
}
.icon-And-more:before {
  content: "\e900";
  color: #ab7500;
}
.icon-API-Coverage-Reports:before {
  content: "\e901";
  color: #ab7500;
}
.icon-Capture-API-Specifications:before {
  content: "\e902";
  color: #ab7500;
}
.icon-Database-stubbing:before {
  content: "\e903";
  color: #ab7500;
}
.icon-Import-your-APIs:before {
  content: "\e904";
  color: #ab7500;
}
.icon-Language-Agnostic:before {
  content: "\e905";
  color: #ab7500;
}
.icon-Multiple-Protocols:before {
  content: "\e906";
  color: #ab7500;
}
.icon-Negative-Testing:before {
  content: "\e907";
  color: #ab7500;
}
.icon-No-Code:before {
  content: "\e908";
  color: #ab7500;
}
.icon-Platform-Independent:before {
  content: "\e909";
  color: #ab7500;
}
.icon-Proxy-Mode:before {
  content: "\e90a";
  color: #ab7500;
}
.icon-Woven-into-your-CI-Pipelines:before {
  content: "\e90b";
  color: #ab7500;
}
.icon-visualstudiocode:before {
  content: "\e90c";
  color: #007acc;
}
.icon-download:before {
  content: "\e90d";
}
.icon-smile:before {
  content: "\e90e";
}
.icon-clock:before {
  content: "\e90f";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-github:before {
  content: "\eab0";
}
